{% load static %}
{% load i18n %}

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i>{{ settings.e_mail }}</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/login/tr"><i class="fa fa-linkedin"></i></a>
                            <a href="https://tr.pinterest.com/"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <!-- <img src="{% static 'img/language.png' %}" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Spanis</a></li>
                                <li><a href="#">English</a></li>
                                <li><a href="#">Azerbaijani</a></li>
                            </ul> -->
                            <form id="languageForm" action="{% url 'set_language' %}" method="post" style="display: block;">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <select style="width: 50px; height: 30px; border-radius: 15%; border: none; color: rgb(112, 58, 58); font-size: 18px;" name="language" onchange="this.form.submit()">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {{ LANGUAGE_CODE }}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                        {{ language.code }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="header__top__right__auth">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}"><i class="fa fa-user"></i> Logout</a>
                            {% else %}
                            <a href="{% url 'register' %}"><i class="fa fa-user"></i> Sign Up</a>
                            <a href="{% url 'login' %}"><i class="fa fa-user"></i> Sign In</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'shop' %}">{% trans 'Shop' %}</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                    </ul>
                </nav>
            </div>
            <!-- <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </div>
            </div> -->
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->