{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Hero Section Begin -->
  <section class="hero hero-normal">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="hero__categories">
            <div class="hero__categories__all">
              <i class="fa fa-bars"></i>
              <span>All departments</span>
            </div>
            <ul>
              {% for department in departments %}
                <li><a href="{% url 'shop' %}?category_filter={{ department.id }}">{{ department.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="hero__search">
            <div class="hero__search__form">
              <form action="{% url 'search' %}">
                <input name="search_hero_search" type="text" placeholder="What do you need?">
                <button type="submit" class="site-btn">SEARCH</button>
              </form>
            </div>
            <div class="hero__search__phone">
              <div class="hero__search__phone__icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="hero__search__phone__text">
                <h5>{{ settings.phone }}</h5>
                <span>Support 24/7</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- Search Results -->
  <div class="container">
    <!-- Product Results -->
    {% if product_count != 0 %}
    <h3 class="section-title">Products</h3>
    {% endif %}
    <div class="row">
      {% for product in products %}
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" data-setbg="{{ product.image.url }}">
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="{% url 'shop_details' product.slug %}">{{ product.name }}</a></h6>
            <h5>${{ product.price }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Blogs Results -->
  <section>
    {% if blogs_count != 0 %}
    <h3 class="section-title mt-5">Blogs</h3>
    {% endif %}
    <div class="row">
      {% for blog in blogs %}
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="{{ blog.image.url }}" alt="{{ blog.title }}"  >
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i>{{ blog.created_at }}</li>
              <li><i class="fa fa-comment-o"></i>{{ blog.comment }}</li>
            </ul>
            <h5><a href="{% url 'blog_details' blog.slug %}">{{ blog.title }}</a></h5>
            <p>{{ blog.content|safe }}</p>
            <a href="{% url 'blog_details' blog.slug %}" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}
